.orderHeaders {
  padding: 20px;
  cursor: default !important;
  background-color: white;
}
.orderEntries {
  width: 130px;
  text-align: start;
  padding: 2px;
}

.orderButton {
  margin: 0;
  padding: 0;
}

.orderHistoryModal {
  text-align: left;
}

.displayBatchcode {
  font-style:italic;
  padding-left: 20px;
  font-size: 0.8em !important;
}
