.batchDiv {
  background-color: var(--bertha);
  display: flex;
  justify-content: space-between;
  margin: 2px;
}
.batchText {
  text-align: left;
  font-weight: bold;
  width: 100%;
  border: 0;
}

.editForm, .batchDetails {
  border: 1px solid var(--dark);
  margin: 5px;
  padding: 5px;
  text-align: start;
}
.detailRow, .pizzaDetails {
  display: flex;
  justify-content: space-between;
  padding: 5px 0;
}
.editForm .pizzaDetails {
  display: flex;
  justify-content: space-between;
}
.input {
  width: 100%;
}
.inputNumber{
  width: 50px;
}
.draft {
  background-color: var(--grey);
}
.batchHeader {
  background-color: var(--pale);
  display: flex;
  justify-content: space-between;
  margin: 2px;
}
.batchTextBoxEnd{
  width: 150px;
  text-align: end;
}
.total {
  padding: 10px 0 0 10px;
}

.fadedText {
  font-weight: lighter;
}
.alignRight {
  text-align: right;
}
.ingredientBatchCode {
  width: 250px;
}

.pizzaDisplayTitles{
  display: flex;
}
.pizzaWeightsOuter {
  width: 50%;
}

.pizzaWeights {
  display: flex;
  justify-content: space-between;
}

@media (max-width: 530px) {
  .ingredient {
    flex-direction: column;
    align-items: start;
  }
  .ingredientBatchCode {
    width: 100%;
  }
  .batchHeader {
    display: none;
  }
  .batchTextBoxEnd{
    width:fit-content;
  }
  .pizzaWeights {
    flex-direction: column;
    text-align: right;
  }
}


