.orders {
  padding: 20px;
}

.orders h2 {
  font-size: 2em;
  color: var(--dark);
  margin-bottom: 20px;
}

.ordersList {
  display: flex;
  flex-direction: column;
}

.space {
  padding-right: 2%;
}

.clickable {
  cursor: pointer;

}

.orderButton:not(#totals):not(.orderHeaders):hover {
  background-color: var(--grey);
  transform: scale(1.02);
}

#totals div {
  flex: 1;
  text-align: center; /* Center text in each header column */
}

#totals div:first-child {
  text-align: left;
}

#totals div:last-child {
  text-align: right;
}

.orderButton div {
  flex: 1;
  text-align: center; /* Align text in each order column */
}

.orderButton div:first-child {
  text-align: left;
}

.orderButton div:last-child {
  text-align: right;
}


.modalContent {
  display: flex;
  flex-direction: column;
  text-align: start;
  gap: 10px;
}

.modalContent p {
  margin: 0;
  font-size: 1.1em;
  color: var(--dark);
}

.modalContent .button {
  margin-top: 20px;
}

.button {
  background-color: var(--bertha);
  border: solid 1px var(--dark);
  color: var(--dark);
  text-decoration: none;
  font-weight: 500;
  border-radius: 5px;
  padding: 10px 15px;
  cursor: pointer;
  transition: background-color 0.3s, color 0.3s;
}

.orderButton {
  display: flex;
  justify-content: space-between;
  align-items: center;
  border-radius: 5px;
  transition: background-color 0.3s, transform 0.3s;
  cursor: pointer;
  border: white;
  width: 100%;
}
.checkbox-wrapper {
  padding: 2%;
}
.orderRow {
  width: 100%;
  display: flex;
  
}

.orderButton:not(.orderHeaders) {
  background-color: var(--paleGrey);
  box-shadow: 0 2px 4px var(--boxShadow);
  padding: 10px 20px;
}

.orderButton.complete {
  background-color: var(--bertha);
  border: white;
}

.orderButton.allocated {
  background-color: var(--berthaReady);
}
.orderButton.packed {
  background-color: var(--berthaLight);
}

.tbc {
  color: red;
  font-style: italic;
  font-size: 12pt;
}

.button:hover {
  background-color: var(--Marg);
  color: white;
}

.flexRow {
  display: flex;
  padding: 0 10px;
}

.displayAddress, .pizzasOrdered {
  padding-left: 20px;
}


@media (max-width: 530px) {
  .orderButton {
    gap: 5px;
  }

  .modal {
    width: 95%;
  }
  .orderStatus {
    display: none;
  }
}
