#root {
  max-width: 100%;
  margin: 0;
  padding: 0;
  text-align: center;
}

/* Header styling */
.header {
  display: flex;
  justify-content: space-between;
}
.logo {
  height: 10em;
  padding: 1.5em;
}




/* main body styling */
.body {
  border-top: solid 2px var(--pale);
  border-radius: 0%;
  padding: 5%;
  width: 100%;
}
.navContent{
  padding: 1%;
  background-color: var(--pale);
}