.summaryContainer {
    display: flex;
    flex-direction: column;
    width: 100%;
    max-width: 520px;
    margin: 1%;
    background-size: cover;
    background-repeat: no-repeat;
    box-sizing: border-box;
    position: relative;
    box-shadow: 0 2px 4px var(--boxShadow);
    padding-top: 30px;
}



/* Stock table CSS */
.stockTable {
  width: 90%;
  align-self: center;
  border-collapse: collapse;
  margin: 1rem;
}
.stockTable th,
.stockTable td {
  border: 2px solid var(--pale);
  padding: 5px 8px;
  border-radius: 5px;
  font-size: 12px;
  white-space: nowrap;
}
.stockTable td {
  /* padding-top: 25px; */
  text-align: right;
}

/* Badge styling */
.pizzaBadge {
  color: var(--dark);
  font-weight: bold;
  font-size: 12px;
  font-weight: 600;
  line-height: 1.2;
  border-radius: 6px;
  white-space: nowrap;
  pointer-events: none;
}



.summary-grid {
  display: flex;
  gap: 2rem;
  align-items: flex-start;
}
.demandSummaryFlex {
  padding-top: 50px;
  display: flex;
  flex-wrap: wrap;
}
.th-full { display: none; }

.percentNumberSlider {
  margin: 20px;
}
.statusShort {display: none;}


@media (max-width: 600px) {
  .statusFull { display: none; }
  .statusShort { display: inline; }
}
/* ...existing code... */

@media (max-width: 1160px) {
  /* tablet size */
  .demandSummaryFlex {
    flex-direction: column;
  }
  .summaryContainer {
    max-width: 100%;
  }
}