.summaryContainer {
    display: flex;
    flex-direction: column;
    justify-content: center;
    width: 100%;
    max-width: 500px;
    background-size: cover;
    background-repeat: no-repeat;
    box-sizing: border-box;
    position: relative;
    box-shadow: 0 2px 4px var(--boxShadow);
    padding-top: 30px;
    overflow-x: scroll;
}
.customerSummaryContainer {
  max-width: 98%;
}



/* Stock table CSS */
.stockTable {
  width: 90%;
  align-self: center;
  border-collapse: collapse;
  margin: 1rem;
  
    overflow: scroll;
}
.stockTable th,
.stockTable td {
  border: 2px solid var(--pale);
  padding: 5px 8px;
  border-radius: 5px;
  font-size: 12px;
  white-space: nowrap;
}
.stockTable td {
  /* padding-top: 25px; */
  text-align: right;
}

/* Badge styling */
.pizzaBadge {
  color: var(--dark);
  font-weight: bold;
  font-size: 12px;
  font-weight: 600;
  line-height: 1.2;
  border-radius: 6px;
  white-space: nowrap;
  pointer-events: none;
}



.summary-grid {
  display: flex;
  gap: 2rem;
  align-items: flex-start;
}
.demandSummaryFlex {
  padding-top: 50px;
  display: flex;
  justify-content: space-evenly;
  flex-wrap: wrap;
}
.th-full { display: none; }

.percentNumberSlider {
  margin: 20px;
}
.statusShort {display: none;}

.subtotalRow tr {
  border-top: 2px solid black !important;
}

/* Custom scrollbar for stock table */
.stockTable::-webkit-scrollbar {
  height: 12px;
}
.stockTable::-webkit-scrollbar-thumb {
  background: #bbb;
  border-radius: 6px;
}
.stockTable::-webkit-scrollbar-track {
  background: #eee;
}


/* Fixed first column */
.customerTableFixed {
  min-width: 160px;
  max-width: 200px;
  margin-top: 20px;
  border-right: 1px solid #ccc;
}
/* Scrollable columns container */
.customerTableScrollContainer {
  position: relative;
  max-width: 75%;
  width: 100%;
  overflow: hidden;
}
/* Actual scrollable table */
.customerTableScrollable {
  overflow-x: scroll;
  max-width: 100%;
  width: 100%;
  box-sizing: border-box;
}
/* Wide table for columns */
.customerTableWide {
  min-width: 1000px;
  table-layout: fixed;
}
.customerTableFixed tbody tr:nth-child(odd) {
  background-color: var(--paleGrey);
} 
.customerTableScrollable tbody tr:nth-child(odd) {
  background-color: var(--paleGrey);
}

.searchCustomer {
  padding: 0 10px 5px 0;
  text-align: right;
}

@media (max-width: 670px) {
  .statusFull { display: none; }

  .statusShort { display: inline; }

  .stockTable {
    overflow: hidden;
  }
}
@media (max-width: 1180px) {
  /* tablet size */
  .customerName {
    padding: 12px 0px !important;
  }
}
