/* customers.css */
.entries {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 100%;
  margin: 10px 0;
  padding: 10px;
  border-bottom: 1px solid #eee;
  font-family: Arial, sans-serif;
  font-size: 16px;
  color: #555;
}

.entries input {
  padding: 3px 6px;
  margin-left: 10px;
  width: 300px;
}

.entries label {
  font-weight: bold;
  color: #333;
  display: inline-block;
  width: 300px;
}

.editButton {
  color: var(--dark);
  cursor: pointer !important;
  margin-left: auto;
}

.icon:hover {
  color: var(--berthas);
}

.customerSelect {
  width: 300px;
  padding: 10px;

}