.App {
  text-align: center;
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-logo {
  height: 20vmin;
  pointer-events: none;
}

.userButtonContainer {
  padding: 50px 0 30px 0;
  width: 100vh;
}

.userButton {
  padding: 20px 50px 20px 50px;
  margin: 10px;
  width: 45%;
  text-align: center;
  font-size: large;
  border: 0;
  border-radius: 5px;
  background-color: yellow;
}

.userButton:hover {
  background-color: orange;
  
}



@media (max-width: 740px) {
  .userButtonContainer {
    flex-direction: column;
    align-items: center;
    width: auto;
  }
  .userButton {
    width: 100%; 
  }
}